<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
    <q-toolbar style="background-color:#009688" slot="header" class="glossy">
      <q-btn
        flat
        @click="$refs.layout.toggleLeft()"
      >
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>
          Доход
      </q-toolbar-title>
    </q-toolbar>

    <div slot="left">
      <q-list no-border link inset-delimiter>
        <q-list-header>Меню</q-list-header>
        <q-item style="background-color:#B2DFDB;">
          <q-item-side style="color:green" icon="monetization on" />
          <q-item-main label="Доходы" id="income"  sublabel="Отмечайте вашу прибыль здесь" />
        </q-item>
        <q-item>
          <q-item-side style="color:red" icon="money off"/>
          <q-item-main label="Расходы" sublabel="Держи расходы под контролем" />
        </q-item>
        <q-item>
          <q-item-side style="color:orange" icon="bubble chart" />
          <q-item-main label="Отчеты" sublabel="Здесь можно посмотреть красивые графики^^" />
        </q-item>
        <q-item>
          <q-item-side style="color:black" icon="school" />
          <q-item-main label="Карманный аналитик" sublabel="подскажет на что слил последнюю сотку" />
        </q-item>
        <q-item>
          <q-item-side style="color:#673AB7" icon="local atm" />
          <q-item-main label="Бизнес Урок" sublabel="Как в бизнес пабликах, только лучше" />
        </q-item>
         <q-item>
          <q-item-side style="color:#304FFE" icon="accessibility" />
          <q-item-main label="Скажи Спасибо" sublabel="накинь девелоперам на новую звезду смерти" />
        </q-item>
         <q-item>
          <q-item-side style="color:black" icon="settings" />
          <q-item-main label="Настройки"/>
        </q-item>
      </q-list>
    </div>
    <div class="row" style="padding :1rem;text-align:center;">
     <div class="col" style="border: 2px solid #004D40; border-radius:10px;padding:0.5rem; margin:0.5rem"><img src="statics/pass.png" ></br><b>Пассивный доход</b></div>
     <div class="col" style="border: 2px solid #004D40; border-radius:10px;padding:0.5rem; margin:0.5rem"><img src="statics/freelance.png" ><br/><b>Фриланс</b></div>
     <div class="col" style="border: 2px solid #004D40; border-radius:10px;padding:0.5rem; margin:0.5rem"><img src="statics/salary.png" ><br/><b>Зарплата</b></div>
     <div class="col" style="border: 2px solid #004D40; border-radius:10px;padding:0.5rem; margin:0.5rem"><img src="statics/unknown.png" ><br/><b>Неизвестный источник</b></div>
    </div>
    <center>
      <h5>Всего за месяц</h5>
      <img src="statics/bag.png" width="30%">
      <h5>{{ summ }}₽</h5> 
    </center>

    <!--
      Replace following <div> with
      <router-view /> component
      if using subRoutes
    -->
    <div class="layout-padding logo-container non-selectable no-pointer-events">
     
    </div>
  </q-layout>
</template>

<script>
import {
  dom,
  event,
  openURL,
  QLayout,
  QToolbar,
  QToolbarTitle,
  QBtn,
  QIcon,
  QList,
  QListHeader,
  QItem,
  QItemSide,
  QItemMain
} from 'quasar'



export default {
  name: 'index',
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QList,
    QListHeader,
    QItem,
    QItemSide,
    QItemMain
  },
  data () {
    return{
    summ : 1
    }
  },
  computed: {
    
  },
  methods: {
  
  },
  mounted () {
    
  },
  
}
</script>

<style>
.layout-page{
  background-color: #E0F2F1;
}
h5{
  background-color: #E0F2F1;
}
</style>
